mixin post(e)
    div.col-12.col-sm-6.col-md-4
        a.post
            img(src= e.img)
            p.tech= e.head





mixin service(e)
    div.service
        p.head1
            b= e.head
        ul
            - for (var i = 0; i < arr.length; i++)
                li= arr[i]
        p=e.text





doctype html
html
    body
        mixin posts(e)
            section.posts 
                .container 
                    h3.heading1= e.head
                    .row
                        +post({head:"Technology1", img:"./assets/images/post1.jpg"})
                        +post({head:"Technology2", img:"./assets/images/post2.jpg"})
                        .col-12.center 
                            a(href="javascript:;") View All Blogs
                            hr
        +posts({head:"Latest Post"})
        +posts({head:"Packages"})
        +posts({head:"Dubai"})
        +posts({head:"Germany"})





        section.posts 
            .container 
                h3.heading1 USA
                .row
                    a.post
                        img(src="./assets/images/post1.jpg")
                    a.post
                        img(src="./assets/images/post2.jpg")
                    .col-12.center 
                        a(href="javascript:;") View All Blogs
        hr





        +service({head:"Lorem1"}, arr=["one", "two", "three"])
        +service({head:"Lorem2"}, arr=["four", "five"])
        +service({head:"Lorem3", text:"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, facere!"})
        hr





        ul
            - for (var i = 1; i <= 10; ++i)
                li= i 
                    |  Lorem

        - var arr=["one", "two", "three"];
        - var s = "string";
        section= s
            - for (var i = 0; i < 3; i++)
                div= arr[i]
        hr